<div class="input-wrapper">
    <button width="50" height="50" style="background-color:{{color}}"></button>
    <input data-color="{{color}}" data-lineNumber="{{lineNumber}}" class="input-field">
</div>