<main class="content">
    <div id="graph-wrapper">
        <canvas id="graph"></canvas>
    </div>


    <div id="sidebar-wrapper">
        <aside id="sidebar">
            <button id="new-function-button">+</button>
            <button id="remove-function-button">-</button>
            <div class="input-wrapper">
                <button width="50" height="50" style="background-color:#FF0000"></button>
                <input data-color="#FF0000" data-lineNumber="0" class="input-field">
            </div>

        </aside>

        <div id="mongo-storage">
            <p>Stored Functions</p>
            {{#each this}}
                {{> storedFunction}}
            {{/each}}
        </div>
    </div>
    
</main>

