<main class="content">
    <div id="graph-wrapper">
        <canvas id="graph"></canvas>
    </div>


    <div id="sidebar-wrapper">
        <aside id="sidebar">
            <button id="sin-button">sin(x)</button>
            <input id="inputField">
            <button id="new-function-button">Update</button>
            <button id="clear-button">Clear</button>
        </aside>
    </div>
    
</main>

