<body>
    
    <div id="graph-wrapper">
        <img class="graph-layout" src=""
        <canvas height="600" width="600" id="graph"></canvas>
    </div>


    <aside id="footer">
        <button id="sin-button">sin(x)</button>
        <input id="inputField">
        <button id="update-button">Update</button>
    </aside>
</body>

