<main class="content">
    <div id="graph-wrapper">
        <canvas id="graph"></canvas>
    </div>


    <div id="sidebar-wrapper">
        <aside id="sidebar">
        <button id="new-function-button">+</button>
            <div class="input-wrapper">
                <div width="50" height="50" style="background-color:#FF0000"></div>
                <input data-lineNumber="0" id="input-field">
            </div>
        </aside>
    </div>
    
</main>

