#sidebar-wrapper {
  position: absolute;
  background: #565656;
  background-image: linear-gradient(to bottom, #7E7E7E , #E8E8E8);
  bottom: 0;
  right: 0;
  width: 30%;
  height: 100%;
  z-index: 5;
  border-left: 1px;
}

#mongo-storage {
  width: 50px;
  height: 50px;
  bottom: 0;
  right: 0;
  background: #fff;
}

p {
  color: #fff;
}

#graph-wrapper {
  position: relative;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

#graph {
  bottom: 0;
  left: 0;
  width: 70%;
  height: 100%;
}

header {
  background-image: linear-gradient(to right, #8E8E8E , #565656);
  align-items: center;
  display: flex;
  position: relative;
  z-index: 5;
}

header a {
  color: #fff;
}

.site-title a{
  font-family: "Impact";
  color: white;
  font-size: 40px;
  font-weight: 100;
  background-color: #595959;
  border-radius: 20px;
  margin-left: 290px;
  margin-right: 290px;
  padding-top: -50px;
  padding-right: 20px;
  padding-left: 20px;
  text-decoration: none;
}

.site-title a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.input-field {
  background-color: #E8E8E8;
  color: #8E8E8E;
  font-size: 20px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
}
.input-wrapper {
  background-color: transparent;
}
.input-wrapper button {
  border-width: 2px;
  border-color: #8E8E8E;
  border-radius: 8px;
  margin-left: 2px;
  padding-top: 15px;
  padding-bottom: 10px;
   text-align: center;
   text-decoration: none;
   display: inline-block;

}
.input-wrapper button:hover {
  padding-top: 18px;
  padding-bottom: 13px;
  cursor: pointer;
}
#new-function-button {
  background-color: #E8E8E8;
  border-width: 2px;
  border-color: #8E8E8E;
  border-radius: 8px;
   color: #8E8E8E;
   margin-right:0px;
   margin-left:22px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 22px;
}
#new-function-button:hover {
  font-size: 25px;
  cursor: pointer;
}
#remove-function-button {
  background-color: #8E8E8E;
  border-width: 2px;
  border-color: #E8E8E8;
  border-radius: 8px;
   color: #E8E8E8;
   margin-right:0px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 22px;
}
p {
  font-family: "Comic Sans MS";
  font-size: 25px;
  margin-left: 25px;
  color: #E8E8E8;
}
#remove-function-button:hover {
  font-size: 25px;
  cursor: pointer;
}
#mongo-storage {
  font-size: 25px;
  margin-left: 25px;
  z-index: 0;
  background-color: transparent;
  display: inline-block;
}
#mongo-storage p {
  font-family: "Impact";
  font-size: 15px;
  color: #565656;
  margin-bottom: 3px;
  text-align: center;
  background-size: 300px 100px;
  background-color: #E8E8E8;
  margin-right: -50px;
  border-radius: 10px;
}
#mongo-storage p:hover {
  font-size: 25px;
  margin-right: -60px;
  cursor: pointer;
}
body {
  margin: 0;
  overflow: hidden;
}
