#sidebar-wrapper {
  position: absolute;
  right: 1px;
  width: 30%;
  z-index: 5;
  border-left: 1px;
  height: 100%;
  overflow: auto;
}

#graph-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    margin-right: 30%;
}

#graph {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

header {
  background-color: #000;
  align-items: center;
  display: flex;
  position: relative;
  z-index: 5;
}

header a {
  color: #fff;
}

.site-title {
  font-family: "Roboto Slab", serif;
  font-size: 80px;
  font-weight: 100;
  margin: 0 0 0 20px;
  padding-top: 30px;
}

.site-title a:hover {
  text-decoration: none;
}